.main {
    width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1340px;
    margin: 92px auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu logo contacts";
    align-items: center;
    font-size: 18px;
}

.header__menu {
    grid-area: menu;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list .header__links-list-item {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header .header__links-list .header__link_active {
    border: none;
}

.header__logo {
    grid-area: logo;
    justify-self: center;
    display: block;
    width: 140px;
    height: 108px;
}

.header__contacts {
    grid-area: contacts;
    justify-self: end;
    width: 240px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-decoration: none;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url('/images/cover.jpg');
}

.background-cover-no-repeat {
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    inset: 0;
    position: absolute;
    opacity: 0.6;
    background: #000;
}

.cover .cover__title {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover .cover__description {
    position: relative;
    z-index: 1;
    margin-top: 135px;
    display: flex;
    gap: 78px;
    line-height: 1.3;
    justify-content: end;
    align-items: center;
}

.cover .cover__description .cover__description-text {
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 16px;
}

.cover .cover__description .bet-button {
    padding: 12px 32px;
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.aligned-text {
    margin-bottom: 20px;
    display: block;
    line-height: 1;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.line-height-extended {
    line-height: 1.15;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.lots, .about, .footer {
    margin: 180px 50px;
}

.section-title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots .lots__heading {
    margin: 0 0 27px 40px;
}

.lots .lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    list-style: none;
}

.lots .lots__card-list .lots__card-list-item {
    min-height: 450px;
    flex-basis: 430px;
    flex-grow: 1;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.card .card__title {
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card .card__text {
    z-index: 1;
    margin-top: auto;
    font-size: 20px;
    line-height: 1.2;
}

.card.card_type_film {
    background-image: url('/images/card-lot-01.jpg');
}

.card.card_type_book {
    background-image: url('/images/card-lot-02.jpg');
}

.card.card_type_picture {
    background-image: url('/images/card-lot-03.jpg');
}

.lots .lots__look-more-link {
    display: inline-block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 8px 25px;
}

.about .about__logo {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000
}

.about .about__logo .about__logo-image {
    width: 148px;
    height: 114px;
}

.about .about-title {
   align-self: center;
}

.about .about__text {
    grid-column: 2;
    font-size: 20px;
}

.about .about__text-margin {
   margin-bottom: 25px;
}

.footer {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.footer .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.footer .footer__menu .footer__menu-link-active {
    text-decoration: none;
}

.footer .footer__social-list {
    display: flex;
    gap: 48px;
}

.footer .footer__social-list .footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}
